/*-------------------------------------
■目次
-リセット
-初期設定
-印刷対応
---------------------------------------*/
/*-------------------------------------
リセットCSS
---------------------------------------*/
/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
}
main {
  display: block;
}
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}
pre {
  font-family: monospace, monospace;
  font-size: inherit;
}
address {
  font-style: inherit;
}
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
abbr[title] {
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: inherit;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
}
button:disabled,
[type='button']:disabled,
[type='reset']:disabled,
[type='submit']:disabled {
  cursor: default;
}
:-moz-focusring {
  outline: auto;
}
select:disabled {
  opacity: inherit;
}
option {
  padding: 0;
}
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}
legend {
  padding: 0;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  outline-offset: -2px;
}
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
[type='number'] {
  -moz-appearance: textfield;
}
label[for] {
  cursor: pointer;
}
details {
  display: block;
}
summary {
  display: list-item;
}
[contenteditable]:focus {
  outline: auto;
}
table {
  border-color: inherit;
  border-collapse: collapse;
}
caption {
  text-align: left;
}
td,
th {
  vertical-align: top;
  padding: 0;
}
th {
  text-align: left;
  font-weight: bold;
}

input::-webkit-input-placeholder {
  color: #b1afaf;
}
input:-ms-input-placeholder {
  color: #b1afaf;
}
input::-moz-placeholder {
  color: #b1afaf;
}
textarea::-webkit-input-placeholder {
  color: #b1afaf;
}
textarea:-ms-input-placeholder {
  color: #b1afaf;
}
textarea::-moz-placeholder {
  color: #b1afaf;
}

/*-------------------------------------
初期設定
---------------------------------------*/
body {
  min-width: 320px;
  font-family:
    Noto Sans Japanese,
    'sans-serif';
  font-size: 16px;
  color: var(--color_textDefalt);
  background-color: #fff;
  line-height: 1.6875;
  letter-spacing: 0.04em;
  -webkit-text-size-adjust: 100%;
}
@media screen and (max-width: 767px) {
  body {
    font-size: 15px;
  }
}
img {
  max-width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  a[href*='tel:'] {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }
}
/* s_en */
html.s_en *,
html.s_en *::before,
html.s_en *::after {
  overflow-wrap: break-word;
}
html.s_en body {
  font-family: var(--font_MMC);
}
/*-------------------------------------------------------
印刷対応
-------------------------------------------------------*/
@media print {
  body {
    width: 1000px;
  }
  .l_header__menuArea {
    display: none !important;
  }
}
